@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

.container {
    border-radius: 10px;
}

.tbheader {
    font-family: "Space Grotesk", sans-serif;
    font-size: 1.1rem;
    font-weight: 900;
}
